[packages]
alembic = "*"
bcrypt = "*"
coverage = "==4.4.2"
Flask = "==2.0.1"
Flask-Bcrypt = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
gunicorn = "==20.0.4"
jsonschema = "==3.2.0"
pytz = "==2020.1"
SQLAlchemy = "==1.3.17"
urllib3 = "==1.25.9"
Werkzeug = "*"
marshmallow = "==3.2.1"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.26.1"
requests = "==2.25.1"
python-dotenv = "==0.7.0"
ipython = "*"
flask-restful = "*"
apispec = "*"
apispec-webframeworks = "*"
flask-apscheduler = "*"
psycopg2 = "*"

[dev-packages]
Flask-Testing = "*"
pylint = "*"
docutils = "==0.15.2"
flasgger = "*"
